body {
  margin: 0;
  font-family: "Segoe UI", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #4b145b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title {
  text-transform: uppercase;
  padding: 2vw;
}

main {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  width: 900px;
  height: 100%;
  background-color: white;
  margin: auto;
  margin-top: 7vh;
  border-radius: 20px;
}

.qtitle {
  -webkit-box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.19);
  box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.19);
  border-color: black;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(13, 50, 74, 0.2);
}
.uquest {
  display: grid;
  grid-template-columns: 1fr 0.1fr;
}

button {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  color: red;
  margin: auto;
}

.info {
  color: #2b2f69;
  margin: 5px;
}

h3 {
  font-weight: 400;
  padding-left: 10px;
}
